{% extends 'baseUser.html.twig' %}

{% block title %}{{title}}{% endblock %}

{% block body %}
    {{ parent() }}
<div class="container-fluid my-5">
    <div class="row">
        <div class="col-12">
            <h1 class="py-5 text-center">
                <span id="ville">NaN</span>
                <span id="temperature">NaN</span>
                (
                <span id="description">NaN</span>
                )
                <span class="d-none">
                    <i class="wi wi-day-rain "></i>
                </span>
            </h1>
        </div>
        <div class="col-8 mx-auto">
            <div class="row text-center mt-4 mx-auto">
                <h2 class="border my-0 py-4 bg-success text-light">Informations sur le vent</h2>
                <p class="col-ms-12 col-xl-4 fs-3 my-0 py-3 border ">Direction :
                    <span id="windDirection"></span>
                </p>
                <p class="col-ms-12 col-xl-4 fs-3 my-0 py-3 border">Vitesse :
                    <span id="windSpeed"></span>
                </p>
                <p class="col-ms-12 col-xl-4 fs-3 my-0 py-3 border">Rafale :
                    <span id="windGuest"></span>
                </p>
            </div>

            <div class="row text-center mb-4 mx-auto">
                <h2 class="border my-0 py-4 bg-success text-light">Informations environnement</h2>
                <p class="col-ms-12 col-xl-4 fs-3 my-0 py-3 border ">Température ressentie :
                    <span id="felling"></span>
                </p>
                <p class="col-ms-12 col-xl-4 fs-3 my-0 py-3 border">Pression atmosphérique :
                    <span id="pressure"></span>
                </p>
                <p class="col-ms-12 col-xl-4 fs-3 my-0 py-3 border">Humidité :
                    <span id="humidity"></span>
                </p>
            </div>
        </div>

    </div>
</div>


{% endblock %}
