{% extends 'base.html.twig' %}

{% block title %}Hello ResultsSearchController!{% endblock %}

{% block body %}
    <div class="container text-center mt-5">
        <div class="row col-12">
        {% for article in articles %}
            <div class="bg-light m-auto col-5">
                <h3>{{ article.title }}</h3>
                <p>{{ article.content }} <br>
                <strong>Le {{ article.createdAt|date("m/d/Y") }}</strong></p>
            </div>
        {% endfor %}
        </div>
    </div>
{% endblock %}
