{% extends 'base.html.twig' %}

{% block title %}{{title}}{% endblock %}

{% block body %}
    <section class="background">
	{% for message in app.flashes('success') %}
		<div class="alert alert-success alert-dismissible fade show" role="alert">
			{{message}}
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		</div>
	{% endfor %}
        <h1 class="text-center py-5 homepage-section-text">
			Commencez l’aventure potagère à nos côtés !
		</h1>
		<p class="lead text-center col-8 mx-auto homepage-section-text">
			Vous n'avez pas vraiment la main verte ? Vous ne savez pas par où
			commencer ? Besoin d'un coup de pouce ? <br />
			Chez Pouss'Vert, nous vous concoctons des conseils aux petits oignons pour
			un jardin sans prise de chou ! <p/>
        <p class="lead text-center col-8 mx-auto my-5">
        <a class=" col-2 starting-btn" href="{{path('register')}}">Rejoignez-nous !</a>
        </p>
        <p class="lead text-center col-8 mx-auto homepage-section-text">
			Ce que nous vous proposons :
		</p>
		<div class="container homepage-section-text">
			<div class="row-2">
				<div class="col p-5 text-center">
					<img src="svg/carrot-solid.svg" alt="Carotte" class="thumbnails"/>
				</div>
				<div class="col text-center home-text">
					Fiches informatives sur les fruits et légumes
				</div>
			</div>
			<div class="row-2">
				<div class="col p-5 text-center">
					<img src="svg/calendar-alt-regular.svg" alt="Calendrier" class="thumbnails" />
				</div>
				<div class="col text-center home-text">
					Calendrier des fruits et légumes
				</div>
			</div>
			<div class="row-2">
				<div class="col p-5 text-center">
					<img src="svg/newspaper-regular.svg" alt="Articles" class="thumbnails" />
				</div>
				<div class="col text-center home-text">
					Articles pour vous accompagner dans votre apprentissage
				</div>
			</div>
			<div class="row-2">
				<div class="col p-5 text-center">
					<img src="svg/tasks-solid.svg" alt="Suivi des tâches" class="thumbnails" />
				</div>
				<div class="col text-center home-text">
					Création de votre potager "virtuel" pour un suivi personnalisé de vos tâches*
				</div>
			</div>
			<div class="row-2">
				<div class="col p-5 text-center">
					<img src="svg/paper-plane-solid.svg" alt="Notifications" class="thumbnails" />
				</div>
				<div class="col text-center home-text">
					Envoi de notifications en fonction des besoins de vos plantes et de la
					météo*
				</div>
			</div>
			<div class="row-2">
				<div class="col p-5 text-center">
					<img src="svg/comments-solid.svg" alt="Forum" class="thumbnails" />
				</div>
				<div class="col text-center home-text">
					Forum pour échanger entre passioné·e·s*
				</div>
			</div>
		</div>
		<div class="text-muted text-center col-8 mx-auto py-2 homepage-section-text">
			<small>
				* Fonctionnalités réservées aux utilisateur·trice·s
				inscrit·e·s
			</small>
		</div>
</section>		
{% endblock %}
