{% extends 'baseUser.html.twig' %}
{% block title %}
	{{title}}
{% endblock %}

{% block body %}
	{{ parent() }}
	<div class="row text-center">
		{%  if userPlantsName != null %}
			<h2>Déjà dans votre jardin :</h2>
			<div>
				{% for userPlant in userPlants %}
					<a href="{{path('plant_show', {'id': userPlant.id})}}">
						<img id='image-plant' src="{{ absolute_url(asset('img/images_bdd/' ~ userPlant.image)) }}" class="rounded-circle me-2 avatar" alt="{{userPlant.name}}"/>
					</a>
				{% endfor %}
			</div>

			<h2>Que planterez-vous ensuite :</h2>
			<div class="d-flex justify-content-center mt-0">
				{{ form_start(form,{
            'attr': {
                'class': 'bg-transparent d-flex flex-column align-items-center mt-0'
            }
            }) }}
				{{ form_widget(form.name) }}
				{{ form_widget(form.submit) }}
				{{ form_end(form) }}
			</div>

			<div class="row justify-content-center">
				{% for plant in plants %}

					{%  if plant.name in userPlantsName %}
						<div class="card m-2 plant-card">
							<div class="plant-image-container"><img src="{{ absolute_url(asset('img/images_bdd/' ~ plant.image)) }}" class="card-img-top" alt="{{ plant.name }}"></div>
							<div class="card-body">
								<h5 class="card-title plant-card-title">
									{{ plant.name }}
								</h5>
								<p class="card-text"><img src="{{absolute_url(asset('img/Fruits_Légumes/potager.png'))}}" class="icon-potager-img">
									<div class="icon-potager-text mt-0">Dans votre potager</div>
								</p>
								<a href="{{path('plant_show', {'id': plant.id})}}" class="btn btn-plant-info mb-1">Fiche</a>
								<button class="add-plant btn btn-danger mb-1" onclick="remove(this, {{ plant.id }})">Retirer</button>
							</div>
						</div>
					{% else %}
						<div class="card m-2 plant-card">
							<div class="plant-image-container"><img src="{{ absolute_url(asset('img/images_bdd/' ~ plant.image)) }}" class="card-img-top" alt="{{ plant.name }}"></div>
							<div class="card-body">
								<h5 class="card-title plant-card-title">
									{{ plant.name }}
								</h5>
								<p class="card-text plant-card-p"></p>
								<a href="{{path('plant_show', {'id': plant.id})}}" class="btn btn-plant-info mb-1">Fiche</a>
								<button class="add-plant btn btn-plant-add mb-1" onclick="add(this, {{ plant.id }})">Ajouter</button>
							</div>
						</div>
					{%  endif %}
				{% endfor %}
			{% else %}
				<p>Pour planter des fruits et légumes dans votre potager, vous devez d'abord le configurer :</p>
				<a class=" col-2 starting-btn mx-auto" href="{{path('questionnaire')}}">Configurer mon potager !</a>
			{% endif %}
		</div>


	<script>

		function changeAccent(chaine){
					let firstLetter = chaine.charAt(0);
					if(firstLetter == 'e'){
						chaine = chaine.replace('e', 'é');
					}
					return chaine;
				};

		$("#form_name").autocomplete({
			source: function (request, response) {
				chaine = request.term;
                chaine = changeAccent(chaine);
				let matcher = new RegExp("^" + $.ui.autocomplete.escapeRegex(chaine.trim()), "i");

				response($.grep(JSON.parse('{{ autocomplete | json_encode | raw }}'), function (item) {
				return matcher.test(item);
				}));
			}
		});

function add(element, id) {
	console.log("add");
	$.ajax({
		url: '{{ url('plant_add') }}',
		data: {
			plant_id: id
		},
		dataType: "json",
		success: function (data) {
			$(element).text("Retirer");
			$(element).removeClass("btn-plant-add").addClass("btn-danger");
			$(element).attr("onclick", "remove(this, " + id + ")");
		}
	})
}

function remove(element, id) {
	console.log("remove");
	$.ajax({
		url: '{{ url('plant_remove') }}',
		data: {
			plant_id: id
		},
		dataType: "json",
		success: function (data) {
			$(element).text("Ajouter");
			$(element).removeClass("btn-danger").addClass("btn-plant-add");
			$(element).attr("onclick", "add(this, " + id + ")");
		}
	})
}
	</script>
{% endblock %}
