{% extends 'baseUser.html.twig' %}

{% block title %}
	{{title}}
{% endblock %}

{% block body %}
	{{ parent() }}
	{% for message in app.flashes('message') %}
		<div class="alert alert-success alert-dismissible fade show" role="alert">
			{{message}}
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		</div>
	{% endfor %}
	<h2 class="text-center">
		Bienvenue dans votre espace personnel !
	</h2>
	<p class="lead text-center col-8 mx-auto my-5">
		Votre jardin est unique, aidez-nous à mieux le connaître :
	</p>
	<p class="lead text-center col-8 mx-auto my-5">
		<a class=" col-2 starting-btn" href="{{path('questionnaire')}}">C'est parti !</a>
	</p>
{% endblock %}
