{% extends 'baseUser.html.twig' %}

{% block title %}
	{{title}}
{% endblock %}

{% block body %}
	{{ parent() }}
	{% for message in app.flashes('message') %}
		<div class="alert alert-success alert-dismissible fade show" role="alert">
			{{message}}
			<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		</div>
	{% endfor %}
	{% for error in app.flashes('error') %}
		<div class="alert alert-danger alert-dismissible fade show" role="alert">
			{{error}}
			<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		</div>
	{% endfor %}


	<section class="form">

		<form method="post" enctype="multipart/form-data">

{% if app.user.avatar == null %}
			<div class="pp">
				<input type="file" id="avatar" name="newAvatar" accept="image/png, image/jpeg" placeholder="fas fa-pencil-alt">
			</div>
{% else %}
			<div class="profilePicture">
            <img src="{{absolute_url(asset('uploads/avatars/' ~ app.user.avatar ~ ''))}}" alt="{{app.user.avatar}}"><br>
			<input type="file" name="newAvatar" id="avatar" accept="image/png, image/jpeg" placeholder="fas fa-pencil-alt">
            </div>
{% endif %}
			<h1>Mon Profil</h1>

			<div class="inputs">
				<input type="text" name="newPseudo" placeholder="{{app.user.pseudo}}">
				<input type="email" placeholder="{{app.user.email}}" readonly>
				<input type="password" name="oldPassword" placeholder="Mot de passe actuel">
				<a data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">Modifier votre mot de passe</a>
				<div class="collapse" id="collapseExample">
					<input type="password" name="newPassword" placeholder="Nouveau mot de passe" class="exclude is-invalid" pattern="^((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" minlength="8" id="validationPassword" aria-describedby="validationPasswordFeedback"><br>
					<input type="password" name="newPassword2" placeholder="Confirmer le mot de passe" class="exclude"><br>
					<small id="validationPasswordFeedback" class="invalid-feedback text-start mb-2 fst-italic">
						• 8 caractères minimum
						<br>
						• 1 minuscule minimum
						<br>
						• 1 majuscule minimum
						<br>
						• 1 chiffre/caractère spécial minimum
					</small>
				</div>
				<input type="text" id="newCityName" name="newCityName" placeholder="{{app.user.city.name}}">
				<input type="hidden" id="newCityPostalCode" name="newCityPostalCode">
			</div>
			<div align="center">
				<button>Valider les changements</button>
			</div>
		</form>
	</section>


	<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>

	<script>

		$("#newCityName").autocomplete({
source: function (request, response) {
$.ajax({
url: 'https://geo.api.gouv.fr/communes',
data: {
nom: request.term,
fields: 'departement',
boost: 'population',
limit: 5
},
dataType: "json",
success: function (data) {
response($.map(data, function (item) {
return {
label: item.nom + ' (' + item.code + ')',
postal_code: item.code,
value: item.nom
};
}));
}
});
},
select: function (event, ui) {
$('#newCityPostalCode').val(ui.item.postal_code);
}
});
// https://geo.api.gouv.fr/communes?nom=Lille&fields=departement&boost=population&limit=5
	</script>
{% endblock %}
