{% extends 'baseUser.html.twig' %}

{% block title %}
	{{title}}
{% endblock %}
{% block stylesheets %}
            {{ parent() }}
            <link rel="stylesheet" href="../front/css/questionnaire.css">
        {% endblock %}
{% block body %}
	{{ parent() }}
	{% for error in app.flashes('error') %}
		<div class="alert alert-danger alert-dismissible fade show" role="alert">
			{{error}}
			<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		</div>
	{% endfor %}
		<section class="form text-center questionnaire-wrapper">
		{{ form_start(form) }}
		<h1>Questionnaire</h1>
		<div class="inputs ">
			{{ form_row(form.user) }}
			<h2><i class="fas fa-ruler-combined"></i> Étape n°1</h2> 
			<p class="questionnaire-text py-3"> Pour commencer votre potager, vous devez définir une surface cultivable.<br>Indiquez ses <span class="green-text">dimensions</span> ci-dessous en <span class="green-text">centimètres</span>.<br>Vous n'êtes pas sûr·e, pas d'inquiétude ! Nous ne sommes pas au millimètre près.</p>
			<div class="row">{{ form_row(form.width) }}</div>
			<div class="row">{{ form_row(form.height) }}</div>
			<h2><i class="fas fa-binoculars"></i> Étape n°2</h2> 
			<p class="questionnaire-text py-3">Très bien, maintenant observez votre terre, touchez-la, à quoi ressemble-t-elle ?</p>
			<dl class="terms-wrapper row border-top border-bottom">
			<dt class="col-sm-2">Terre argileuse</dt>
			<dd class="col-sm-10">La <span class="green-text">terre argileuse</span> est lourde et collante. Quand elle est humide, vous pouvez en faire une boule. C'est une terre très fine, qui colle aux outils lorsqu'elle est humide.</dd>
			<dt class="col-sm-2">Terre calcaire</dt>
			<dd class="col-sm-10">La <span class="green-text">terre calcaire</span> est de couleur claire et très souvent caillouteuse. C'est une terre compacte, difficile à travailler.</dd>
			<dt class="col-sm-2">Humus</dt>
			<dd class="col-sm-10">L'<span class="green-text">humus</span> est une terre noire constituée de végétaux en décomposition. Plutôt légère, elle retient bien l'eau.</dd>
			<dt class="col-sm-2">Terre sableuse</dt>
			<dd class="col-sm-10">Une <span class="green-text">terre sableuse</span> est de couleur claire et ne se compacte pas. Elle retient pas l'eau et chauffe vite.</dd>
			<dt class="col-sm-2">Terre de bruyère</dt>
			<dd class="col-sm-10">La <span class="green-text">terre de bruyère</span> est composée de terre siliceuse, d’un peu de sable pour la perméabilité, d’écorces et d’aiguilles de pin réduits en poudre, de fibres végétales, du compost et parfois de tourbe.</dd>
			</dl>
			<p class="questionnaire-text py-3">Alors, quelle catégorie s'approche le plus de la terre de votre potager ?</p>
			<div class="row">{{ form_row(form.groundType) }}</div>
			<h2><i class="fas fa-seedling"></i> Étape n°3</h2> 
			<p class="questionnaire-text py-3">Pas de potager sans plantations ! Que voulez-vous cultiver ? </p>
			<div class="row">{{ form_row(form.plant) }}</div>
		</div>
		<div align="center">
			{{ form_row(form.submit) }}
        </div>
		{{ form_end(form) }}
	</section>
{% endblock %}

