{% extends 'baseUser.html.twig' %}
{% block title %}
    {{ title }}
{% endblock %}
{% block body %}
	{{ parent() }}

    {% if newPlants is not empty %}
    {{ newPlants|length }}
    <div id="popup">
        <button class="close">&times;</button>
        {% if newPlants|length == 1 %}
        <h3 class="mt-1">Quel type de plantation choisissez vous pour votre plante:</h3>
        {% else %}
        <h3 class="mt-1">Quel type de plantation choisissez vous pour vos plantes:</h3>
        {% endif %}

        {{ form_start(choicePlantationForm, {'attr' : {'id': 'form-plantation-type'}}) }}
        <ul class="list-unstyled d-flex justify-content-center">
            {% set i = 0 %}
            {% for plantChoice in choicePlantationForm.plantsToValidate.vars.choices %}
                <li class="d-flex flex-column">
                    {{ form_widget(choicePlantationForm.plantsToValidate.children[i]) }}
                    {{ form_label(choicePlantationForm.plantsToValidate.children[i]) }}
                    <img src="{{ absolute_url(asset('img/images_bdd/' ~ imageNewPlants[plantChoice.value])) }}" class="rounded-circle avatar" alt="{{plantChoice.label}}"/>
                </li>
                {% set i = i + 1 %}
            {% endfor %}
        </ul>

        {{ form_widget(choicePlantationForm.typePlantation, {'attr' : {'class': 'd-flex flex-column col-5 mx-auto mb-3'}, 'label': false}) }}
        {{ form_widget(choicePlantationForm.submit) }}
        {{ form_end(choicePlantationForm) }}
    </div>
        {% endif %}

    <div id='tasks' class="row">
        {% if userGround != null %}
        <div class="col-lg-3 col-md-12">
            <div id="tasks-filter" class="d-flex flex-column flex-shrink-0 p-3 bg-light">
                <a href="#" id="tasks-filter-link" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none"
                onclick="changeVisibility()">
                    <span class="fs-4 mx-auto">Filtre</span>
                </a>
                <ul id='ul-filter' class="ul-filter-hidden nav nav-pills flex-column mb-auto">
                    <hr>

                    <li>
                        <a href="{{ url('tasks') }}" class="nav-link link-dark p-0">
                            <button id="buttonAllDisplay" class="btn all-button-filter ">Tout afficher</button>
                        </a>
                    </li>
                    <hr>
                        {{ form_start(tasksFilterForm,{
                            'attr': {
                                'class': 'bg-transparent',
                                'id': 'tasks-filter-form'
                            }
                        }) }}
                        <div class="accordion d-flex flex-column col-md-8 col-lg-12 mx-auto"
                            id="accordionPanelsStayOpenExample">
                            <div class="accordion-item mt-4 ">
                                <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="false"
                                            aria-controls="panelsStayOpen-collapseOne">
                                        Plantes
                                    </button>
                                </h2>
                                <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse"
                                    aria-labelledby="panelsStayOpen-headingOne">
                                    <div class="accordion-body">
                                        <div>
                                            <h5 class="text-uppercase">Plantes</h5>
                                            <div class="filter">
                                                {% for plant in tasksFilterForm.Plantes %}
                                                    {{ form_widget(plant) }}
                                                    {{ form_label(plant) }}
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item mt-4 ">
                                <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
                                            aria-controls="panelsStayOpen-collapseTwo">
                                        Statuts
                                    </button>
                                </h2>
                                <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse"
                                    aria-labelledby="panelsStayOpen-headingTwo">
                                    <div class="accordion-body">
                                        <div>
                                            <h5 class="text-uppercase">Statuts</h5>
                                            <div class="filter">
                                                {% for status in tasksFilterForm.Statuts %}
                                                    {{ form_widget(status) }}
                                                    {{ form_label(status) }}
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item mt-4">
                                <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false"
                                            aria-controls="panelsStayOpen-collapseThree">
                                        Types
                                    </button>
                                </h2>
                                <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse"
                                    aria-labelledby="panelsStayOpen-headingThree">
                                    <div class="accordion-body">
                                        <div>
                                            <h5 class="text-uppercase">Types</h5>
                                            <div class="filter">
                                                {% for type in tasksFilterForm.Types %}
                                                    {{ form_widget(type) }}
                                                    {{ form_label(type) }}
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item mt-4 mb-4">
                                <h2 class="accordion-header" id="panelsStayOpen-headingFour">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false"
                                            aria-controls="panelsStayOpen-collapseFour">
                                        Périodes
                                    </button>
                                </h2>
                                <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse"
                                     aria-labelledby="panelsStayOpen-headingFour">
                                    <div class="accordion-body">
                                        <div>
                                            <h5 class="text-uppercase">Périodes</h5>
                                            <div class="filter">
                                                {% for period in tasksFilterForm.Periodes %}
                                                    {{ form_widget(period) }}
                                                    {{ form_label(period) }}
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {{ form_widget(tasksFilterForm.submit, {'label': 'Appliquer'}) }}
                        {{ form_end(tasksFilterForm) }}
                    </div>
                </ul>
            </div>
        </div>

            {% if userActions != null %}
            <div class="col-lg-9 col-md-12">
                <div class="container text-center mt-5">
                    <div class="row col-12">
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">Plante</th>
                                <th scope="col">Action</th>
                                <th scope="col">Début</th>
                                <th scope="col">Fin</th>
                                <th scope="col">Statut</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for userAction in userActions %}
                                <tr>
                                    <td>{{ userAction.idPlant.name }}</td>
                                    <td>{{ userAction.idTypeAction.label }}</td>
                                    <td>{{ userAction.dateStart|date('d/m/Y') }}</td>
                                    <td>{{ userAction.dateEnd|date('d/m/Y') }}</td>
                                    <td>{{ userAction.idStatusAction.label }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
            {% else %}
            <div class="col-lg-9 col-md-12">
                <div class="container text-center mt-5">
                    <div class="row col-8">
                        <p class="lead">Aucune tâche correspondante !<br> Modifiez vos filtres et lancez une nouvelle
                            recherche.</p>
            {% endif %}
        {% else %}
        <div class="col-lg-9 col-md-12">
            <div class="container text-center mt-5">
                <div class="row col-8">
                    <p class="lead">Vous êtes à jour !<br> Vous n'avez rien à faire dans votre potager !
                    </p>

        {% endif %}
                </div>
            </div>
        </div>
    </div>

<script>
    function changeVisibility() {
        let ul = $('#ul-filter');
        if (ul.hasClass('ul-filter-hidden')) {
            ul.removeClass('ul-filter-hidden');
            ul.addClass('ul-filter-show');
        } else if (ul.hasClass('ul-filter-show')) {
            ul.removeClass('ul-filter-show');
            ul.addClass('ul-filter-hidden');
        }
    }

    window.addEventListener("load",function(){
        setTimeout(
            function open(event){
                document.querySelector("#popup").style.display = "block"
            },
            500
        )
    });

    document.querySelector(".close").addEventListener("click", function(){
        document.querySelector("#popup").style.display = "none"
    });

</script>
{% endblock %}
