@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: bold;
}

/* NAVBAR */

nav{
    display: flex;
    width: 100%;
    background: #28AD65;
    position: relative;
    justify-content: space-between;
    text-align: center;
    padding: 15px;
    padding-right: 0;
    padding-left: 20px;
    font-weight: bold;
    align-items: center;
}

nav .icon{
    margin-right: 10px;
}

nav img{
    height: 60px;
    cursor: pointer;
    margin: 10px 0;
}

nav ul{
    display: flex;
    list-style: none;
    margin: auto 0;
    width: min-content;
    overflow: hidden;
}

nav ul li{
    margin: 0 2px;
}

nav ul li a{
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    text-transform: capitalize;
    letter-spacing: 1px;
    padding: 5px 10px;
    transition: 0.2s;
}

nav ul li:hover a{
    background: #fff;
    color: #28AD65;
}

nav .search{
    display: flex;
    margin: auto 20px;
    height: 35px;
    line-height: 35px;
    padding: 0;
    margin: 0;
    min-width: 0;
    width: 250px;
}

nav .search > input {
    width: 250px;
    min-width: 0;
    border: none;
    border-radius: 0.3em;
}

nav #searchBar{
    border: none;
    outline: none;
    background: #fff;
    height: 100%;
    padding: 0 10px;
    font-size: 20px;
    width: 350px;
    min-width: 250px;
    font-weight: bold;
}

nav .search button, .fa-search{
    color: #28AD65;
    font-size: 20px;
    background: #fff;
    height: 100%;
    padding: 9px;
    cursor: pointer;
    opacity: 80%;
    transition: 0.5s;
}

nav .search button:hover, .fa-search:hover{
    font-size: 23px;
    padding: 7px;
}

nav .bar{
    position: relative;
    margin: auto;
    display: none;
}

nav .bar span{
    position: relative;
    color: #fff;
    font-size: 35px;
}

header input[type="checkbox"]{
    -webkit-appearance: none;
    display: none;
}

@media screen and (max-width: 975px) {
    nav{
        padding: 0;
        display: flex;
        flex-direction: column;

    }

    nav .search {
        max-width: 100%;
    }

    nav .icon{
        padding: 15px 30px;
    }

    nav img {
        min-height: 110px;
        width: auto;
    }

    nav .search{
        width: 80%;
        min-height: 35px;
        align-self: center;
        justify-content: center;
        margin-bottom: 15px;
    }

    nav .search input{
        width: 100%;
    }

    nav ul{
        display: flex;
        flex-direction: column;
        background: #fff;
        height: 0;
        visibility: hidden;
        width: 100vw;
    }

    nav ul li{
        text-align: center;
    }

    nav ul li a{
        color: #28AD65;
        font-size: 24px;
        padding: 12px;
        display: block;
        margin: 15px;
        transition: 0.2s;
    }

    nav ul li a:hover{
        background-color: #28AD65;
        color: #fff;
    }

    nav .bar{
        display: block;
        position: absolute;
        top: 20px;
        right: 30px;
        cursor: pointer;
    }

    nav .bar #crossBurger{
        display: none;
    }

    #checkNav:checked ~ nav .bar #crossBurger{
        display: block;
    }

    #checkNav:checked ~ nav .bar #burger{
        display: none;
    }

    #checkNav:checked ~ nav ul{
        visibility: visible;
        height: 465px;
    }
}

 /* FOOTER  */

footer{
    background: #AD6528;
    height: auto;
    width: 100vw;
    padding-top: 20px;
    color: #fff;
}

.footerTop{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footerTop h3{
    font-weight: bold;
    line-height: 25px;
}

.footerTop p{
    max-width: 700px;
    line-height: 15px;
    margin: 10px auto;
}

.footerTop ul{
    list-style: none;
    display: flex;
    align-items: center;
    margin: 10px 30px;
}

.footerTop  li{
    margin: 0 10px;
}

.footerTop li a{
    text-decoration: none;
    color: #fff;
    font-size: 30px;
    font-weight:initial;
}

.footerLink li{
    font-size: 15px;
}

.socialLink li a:hover{
    color: #28AD65;
}

.footerBot{
    padding: 5px 0;
    background: #79461a;
    text-align: center;
    width: 100vw;
    word-spacing: 2px;
}