#popup{
    background-color: #fff;
    width: 520px;
    padding: 20px 20px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    border-radius: 8px;
    display: none;
    text-align: center;
    z-index: 5;
    box-shadow: 0 0 80px 1px grey;

}

#popup .close{
    display: block;
    margin: 0 0 20px auto;
    background-color: transparent;
    font-size: 25px;
    color: #b5b5b5;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 0;
}

#popup label{
    padding: 5px;
    border-radius: 8px;
    margin: 3px;
}

#popup form {
    margin-bottom: 0px !important;
}

#popup .button {
    background-color: #767676;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 0 0 -30px auto;
    position: relative;
    left: 5px;
    top: 35px;
    }

#popup li>img {
    margin: auto;
}

/* popup in tasks in user account */
#form-plantation-type {
    margin: 0;
    padding: 0;
}

#form-plantation-type ul {
    /*background: #f7f4f4;*/
    border-radius: 1em;
    padding-bottom: 1em;
    padding-top: 0.5em;
}

#form-plantation-type input[type=checkbox] {
    display: none;
}

#form-plantation-type input[type=checkbox] + label {
    border: solid transparent 1px;
}

#form-plantation-type input[type=checkbox]:checked + label {
    background-color: white;
    color: green;
    border: solid 1px;
    border-color: var(--green);
}

#popup form {
    min-width: 0px !important;
}

@media screen and (max-width: 975px) {
#popup{
    margin-top: 100px;
    width: 450px;
}
#popup .button {
    position: relative;
    left: 160px;
}

}