.questionnaire-wrapper{
	margin: 1em;
}
.questionnaire-wrapper form{
	margin: 1em !important;
	background-color: #fff;
	padding: 40px 60px;
	border-radius: 10px;
	min-width: 500px;
	max-width: 1000px;
}
.questionnaire-wrapper form input{
	display: inline;
	min-width: auto !important;
	max-width: 360px;
}
.questionnaire-wrapper form label{
	text-transform: capitalize;
	margin-right: 20px;
}
.questionnaire-wrapper form input[type="checkbox"]{
	appearance: checkbox !important;
	margin: 10px;
}
.questionnaire-wrapper form input[type="radio"]{
	appearance: checkbox !important;
	margin: 10px;
}
.questionnaire-wrapper form button[type="submit"]{
	margin-top: 1em;
}
.questionnaire-wrapper h2{
	margin: 1em 0;
	padding-top:10px;
	border-top: solid 1px #28ad65;
}
.questionnaire-wrapper h2 i{
	color:#ad6528;
}
.questionnaire-wrapper #garden_plant{
	display: grid;
	grid-template-columns: 0.5fr 1.2fr 0.5fr 1.2fr 0.5fr 1.2fr;
	grid-template-rows: repeat(13, 0.5fr);
}
.questionnaire-wrapper #garden_plant label{
	text-align: left;
	border-top: solid 1px #ad6528;
}
.questionnaire-wrapper #garden_plant input{
	text-align: right;
	width: 16.5px;
	height: 16.5px;
	padding-right: 0;
}
.terms-wrapper{
	text-align: left;
	margin: 1em;
	padding:1em;
}
.terms-wrapper dt{
	padding-right: 1em;
}
.terms-wrapper dd{
	padding-left: 2em;
}
.green-text{
	color: #28ad65;
}


