.avatar {
	width: 32px;
	height: 32px;
}
.dropdown a {
	color: #28ad65;
}
.buttons-wrapper {
	margin: 0 auto;
}
.user-navbar {
	padding: 0 7em;
	height: 60px;
	z-index: 1;
}
.user-navbar h1 {
	font-size: 20px;
}
.user-navbar nav ul li a {
	font-size: 20px !important;
}
.user-navbar ul {
	overflow: visible !important;
	visibility: visible !important;
	background-color: #f8f9fa !important;
	height: 60px;
}
.user-navbar .dropdown ul {
	height: auto;
}
.user-navbar .dropdown ul li a {
	color: #707071 !important;
	font-weight: bold;
	font-size: 15px;
}

.user-navbar ul li:hover a {
	color: #28ad65 !important;
	background-color: inherit;
}

@media screen and (min-width: 992px) and (max-width: 1250px) {
	.user-navbar {
		padding: 0 7em 0 2em;
	}
	.user-navbar ul li a {
		font-size: 16px !important;
		margin:0;
	}
	.user-navbar ul {
		padding:0;
		width: min-content;

	}
	.user-navbar h1 {
		margin: auto;
	}
	.user-navbar .dropdown img {
		min-height: auto;
	}
	.user-navbar .dropdown ul {
		margin: auto;
	}

	.user-navbar .dropdown ul li a {
		color: #707071 !important;
		font-size: 12px !important;
		padding: 5px;
	}
}

@media screen and (max-width: 992px) {
	.user-navbar {
		justify-content: center;
		padding: 0 2em;
		min-height: 60px;
		height: auto;
	}
	.user-navbar ul {
		overflow: visible !important;
		visibility: visible !important;
		background-color: #f8f9fa !important;
		max-width: 200px;
		height: auto;
	}
	.user-navbar .dropdown {
		background-color: #f8f9fa !important;
		max-width: 200px;
		height: auto;
		margin: 0 auto;
	}

	.user-navbar ul a {
		font-size: 15px;
		text-align: center;
		margin: 0;
		padding: 0;
	}
	.user-navbar .dropdown a {
		justify-content: center;
	}
	.user-navbar .dropdown ul li a {
		font-size: 12px;
		margin: 0;
		padding: 0;
	}
	.user-navbar .dropdown img {
		min-height: auto;
	}
	.navbar-toggler:focus {
		border-color: #28ad65;
		box-shadow: none;
	}
}
