body {
	margin: 0;
	padding: 0;
	min-height: 100vh;
	--green: #28AD65;
}

header,
nav {
	background-color: var(--green);
}

#main {
	min-height: 65vh;
}

nav .btn > a {
	color: #fff !important;
}

.social-network-icon {
	width: 2%;
	height: 2%;
}

.sectionRegisterLogin {
	color: #f5f5f5;
}

.poeme {
	padding: 5% 0;
}

.city-informations {
	font-size: 12px;
}

footer {
	background-color: var(--green);
	width: 100%;
	height: 100%;
}

.connection-button {
	margin: 500px 0 0 0;
}

#logoPoussVert {
	width: 150px;
}

a {
	text-decoration: none;
}

.background {
	background-image: url(../../img/1ere\ Page/lukas-langrock-Dibo4TSF3Jw-unsplash.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	width: 100%;
	height: 100%;
}

.homepage-section-text {
	color: #fff !important;
	font-weight: bold !important;
}

.thumbnails {
	height: 4em;
}

img.thumbnails {
	filter: invert(100%);
	-webkit-filter: invert(100%);
}

.home-text {
	font-size: 1em;
}

.container {
	display: flex;
	flex-direction: row;
}

.starting-btn {
	font-weight: bold;
	font-size: 17px;
	padding: 15px 25px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	background-color: var(--green);
	color: #fff;
	outline: none;
	transition: 0.5s;
}

.starting-btn:hover {
	padding: 17px 27px;
	background-color: #fff;
	color: var(--green);
}

/* field autocomplete */

.ui-menu {
	padding-left: 0;
}

.ui-helper-hidden-accessible {
	display: none;
}

#ui-id-1 {
	padding-left: 0;
}

.ui-menu-item {
	background-color: white;
	list-style: none;
	max-width: 350px;
	padding-left: 20px;
	padding-top: 2.5px;
	padding-bottom: 2.5px;
}

form > div#form,
form > div#form > div {
	min-width: 100%;
}

/* register form input */
input {
	min-width: 100%;
}

/* register form error messages */

.inputs > div > ul {
	list-style: none;
	padding: 0;
	color: red;
}

#image-plant {
	max-width: 300px;
	margin-bottom: 3em;
}


/* sidebar in plant page and tasks filter*/
#filter-plant, #tasks-filter {
	position: relative;
	width: 280px;
	min-height: 100vh;
}

#filter-plant ul {
	z-index: 4;
}

#plant .all-button-filter:focus{
	box-shadow: none;
}

#plant form button:focus {
	box-shadow: 0 0 0 0.25rem rgb(40 173 101 / 25%);
}

.accordion-button:hover {
	padding: 16px 20px;
}

.accordion-button:not(.collapsed)::after {
	/*background-image: none;*/
}

#plant .months, #tasks .filter {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	height: 180px;
}

#searchbarFilterPlant, #tasks-filter-form {
	padding: 0;
	margin: 0;
	min-width: 0;
	margin-left: 10px;
}

#searchbarFilterPlant input, #tasks-filter-form input {
	min-width: 0;
	width: 100%;
	border: transparent;
	border-radius: 0.3em;
}

#searchbarFilterPlant input[type=checkbox], #tasks-filter-form input[type=checkbox]{
	display: none;
	-webkit-appearance: auto;
}

#searchbarFilterPlant input[type=checkbox]:checked + label, #tasks-filter-form input[type=checkbox]:checked + label{
	background-color: #28AD65;
	color: white;
}

#searchbarFilterPlant label, #tasks-filter-form label {
	width: 50%;
}

#searchbarFilterPlant label[for=form_sowingMonthStart_placeholder],
label[for=form_sowingMonthEnd_placeholder],
label[for=form_harvestMonthStart_placeholder],
label[for=form_harvestMonthEnd_placeholder]{
display: none;
}

.accordion-button:not(.collapsed) {
	color: white;
	background-color: #28AD65;
}

.all-button-filter {
	width: 100%;
	font-weight: bold;
	font-size: 1.1em;
}

.all-button-filter:hover {
	padding: .375rem .75rem !important;
	background-color: black;
	color: white;
}

.accordion h5 {
	font-weight: bold;
	font-size: 1.1em;
}

#searchbarFilterPlant .accordion-button:not(.collapsed) {
 background-image: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e) !important;
}

/* css garden page */
.icon-potager-img {
	width: 80px;
	margin: -20% 0;
}

.icon-potager-text {
	color: #804616;
}

.plant-card {
	width: 18rem;
	height: 400px;
}
.plant-card-p {
	min-height: 60px;
}
.plant-card-title {
	text-transform: capitalize;
}
.plant-image-container{
	height: 170px;
	padding: 10px 0;
}
.plant-image-container img {
	height: 150px;
	width: 250px;
	object-fit: cover;
}
.btn-plant-info {
	color: #fff;
	background-color: #ad6528;
}
.btn-plant-info:hover {
	color: #fff;
	background-color: #804616;
}
.btn-plant-add {
	color: #fff;
	background-color: #28ad65;
}
.btn-plant-add:hover {
	color: #fff;
	background-color: #1e864f;
}
.bg-brown {
	background-color: #ad6528;
}
.plant-identity-card {
	margin-top: 50px;
	margin-bottom: 50px;
	background-color: #fff;
	padding: 40px 60px;
	border-radius: 10px;
	min-width: 500px;
}
.plant-identity-card img {
	height: 300px;
	width: 300px;
	object-fit: cover;
}

.fa-thumbs-up{
	color: #28ad65;
}

.fa-thumbs-down{
	color: #ad6528;
}

@media screen and (max-width: 900px) {
	.container {
		display: inline;
	}
}


@media only screen and (max-width: 992px) {
	#filter-plant, #tasks-filter {
		width: 100%;
		min-height: 0;
	}

	#form_submit {
		align-self: center;
	}

	#filter-plant-link, #tasks-filter-link {
		display: block;
		width: 100%;
	}

	.ul-filter-hidden {
		display: none;
	}

	.ul-filter-display {
		display: inherit;
	}
}