{% extends '@EasyAdmin/layout.html.twig' %}

{% block content %}
 <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light mb-5">Bienvenue sur le dashboard</h1>
        <p class="lead text-muted">Utilisez le menu latéral pour gérer vos utilisateurs, créer de nouveaux articles et bien plus encore !</p>
      </div>
    </div>
  </section>
{% endblock %}