{% extends 'base.html.twig' %}

{% block title %}{{title}}{% endblock %}

{% block body %}


<section class="form py-5">
            
            <form action="{{path('login')}}" method="post">
            <h1>Connexion</h1>
            <p>Vous n'avez pas encore de compte ?
            <a href="{{path('register')}}">Inscrivez-vous ici</a>.</p>
                <div class="inputs">
                    <input class="text mb-4 form-control col-5" type="email" name="_username" placeholder="Votre mail..." required>
                    <input class="text mb-3 form-control col-5" type="password" name="_password" placeholder="Votre mot de passe..." required>
{# ghost ligne #}
                    <input type="hidden" name="_target_path" value="{{ path('dashboard') }}"/>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>

            <div align="center">

                    <button type="submit">Se connecter</button>
                    </div>
                </div>
            </form>

</section>




{% endblock %}
