{% extends 'base.html.twig' %}

{% block title %}Hello ResultsSearchController!{% endblock %}

{% block body %}
    <div class="container d-flex flex-column text-center">
        {% for plant in plants %}
            <div class="bg-light mt-3">
                {{ plant.name }}
                <img id='image-plant' src="{{ absolute_url(asset('img/images_bdd/' ~ plant.image)) }}" />
            </div>
        {% endfor %}

        {% for article in articles %}
            <div class="bg-light mt-3">
                <h3>{{ article.title }}</h3>
                <p>{{ article.content }}</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}


