{% extends 'base.html.twig' %}

{% block title %}
	{{title}}
{% endblock %}


{% block body %}
{% for message in app.flashes('verify_email_error') %}
		<div class="alert alert-error alert-dismissible fade show" role="alert">
			{{error}}
			<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		</div>
{% endfor %}
    <section class="form text-center py-5">
		{{ form_start(form) }}
		<h1>S'inscrire</h1>
		<p>Vous avez déjà un compte ?
			<a href="{{path('login')}}">Se connecter</a>
		</p>
		<div class="inputs">
			{{ form_row(form.pseudo) }}
			{{ form_row(form.password.first) }}
			{{ form_row(form.password.second) }}
			{{ form_row(form.email) }}
			{{ form_row(form.city.name) }}
			{{ form_row(form.city.postal_code) }}
		</div>
		<div align="center">
			{{ form_row(form.submit) }}
        </div>
		{{ form_end(form) }}
	</section>
		<script>
			$("#register_city_name").autocomplete({
				source: function (request, response) {
					$.ajax({
						url: 'https://geo.api.gouv.fr/communes',
						data: {
							nom: request.term,
							fields: 'departement',
							boost: 'population',
							limit: 5
						},
						dataType: "json",
						success: function (data) {
							response(
								$.map(data, function (item) {
									return {
										label: item.nom + ' (' + item.code + ')',
										postal_code: item.code,
										value: item.nom,
									};
								})
							);
						}
					});
				},
				select: function( event, ui ) {
					$('#register_city_postal_code').val(ui.item.postal_code);
				}
			});
		//	https://geo.api.gouv.fr/communes?nom=Lille&fields=departement&boost=population&limit=5
	</script>
{% endblock %}
