{% extends 'base.html.twig' %}

{% block title %}Hello ResultsSearchController!{% endblock %}

{% block body %}
    <div id='plant' class="row">
        <div class="col-lg-3 col-md-12">
            <div id="filter-plant" class="d-flex flex-column flex-shrink-0 p-3 bg-light">
            <a href="#" id='filter-plant-link' class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none" onclick="changeVisibility()">
                <span class="fs-4 mx-auto">Filtre</span>
            </a>
                <ul id='ul-filter' class="ul-filter-hidden nav nav-pills flex-column mb-auto">
                    <hr>

                <li>
                    <a href="{{ url('plant') }}" class="nav-link link-dark p-0">
                        <button id="buttonAllDisplay" class="btn all-button-filter ">Tout afficher</button>
                    </a>
                </li>
                <hr>
                <li class="nav-item col-md-8 col-lg-12 mx-auto">
                            {{ form_start(form,{
                                'attr': {
                                    'class': 'bg-transparent d-flex',
                                    'id': 'searchbarFilterPlant'
                                }
                            }) }}
                            {{ form_widget(form.name) }}
                            {{ form_widget(form.submit, {'attr' : {'class': 'fa fa-search'}, 'label': false}) }}
                            {{ form_end(form) }}
                </li>
                {{ form_start(filterForm,{
                    'attr': {
                        'class': 'bg-transparent',
                        'id': 'searchbarFilterPlant'
                    }
                }) }}


                    <div class="accordion d-flex flex-column col-md-8 col-lg-12 mx-auto" id="accordionPanelsStayOpenExample">
                        <div class="accordion-item mt-4 ">
                            <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="false" aria-controls="panelsStayOpen-collapseOne">
                                    Saison semis
                                </button>
                            </h2>
                            <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingOne">
                                <div class="accordion-body">
                                    <button class="btn all-button-filter" onclick='resetFields("form[sowingMonthStart]", "form[sowingMonthEnd]" )'>Tout</button>
                                    <li><hr class="dropdown-divider"></li>
                                    <div>
                                        <h5>Mois de début</h5>
                                        <div class="months">
                                    {% for monthSemis in filterForm.sowingMonthStart %}
                                        {{ form_widget(monthSemis) }}
                                        {{ form_label(monthSemis) }}
                                    {% endfor %}
                                        </div>
                                        <h5>Mois de fin</h5>
                                        <div class="months">

                                    {% for monthSemis in filterForm.sowingMonthEnd %}
                                        {{ form_widget(monthSemis) }}
                                        {{ form_label(monthSemis) }}
                                    {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item mt-4 mb-4">
                            <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                                    Saison de récolte
                                </button>
                            </h2>
                            <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
                                <div class="accordion-body">
                                    <button class="btn all-button-filter" onclick='resetFields("form[harvestMonthStart]", "form[harvestMonthEnd]" )'>Tout</button>

                                    <li><hr class="dropdown-divider"></li>

                                    <div>
                                        <h5>Mois de début</h5>
                                    <div class="months">
                                    {% for monthRecolte in filterForm.harvestMonthStart %}
                                        {{ form_widget(monthRecolte) }}
                                        {{ form_label(monthRecolte) }}
                                    {% endfor %}
                                    </div>
                                    </div>
                                        <h5>Mois de fin</h5>
                                        <div class="months">
                                    {% for monthRecolte in filterForm.harvestMonthEnd %}
                                        {{ form_widget(monthRecolte) }}
                                        {{ form_label(monthRecolte) }}
                                    {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {{ form_widget(filterForm.submit, {'label': 'Appliquer'}) }}
                        {{ form_end(filterForm) }}
                        </div>
            </ul>
        </div>
        </div>

        <div class="col-lg-9 col-md-12">
            <div class="container text-center mt-5">
            <div class="row col-12">
            {% for plant in plants %}
                <div class="bg-light m-auto col-5">
                    <h3>{{ plant.name }}</h3>
                    <img id='image-plant' src="{{ absolute_url(asset('img/images_bdd/' ~ plant.image)) }}" />
                </div>
            {% endfor %}
            </div>
        </div>
        </div>
    </div>
    <script>

        function changeAccent(chaine){
                let firstLetter = chaine.charAt(0);
                if(firstLetter == 'e'){
                    chaine = chaine.replace('e', 'é');
                }
                return chaine;
            };

        $("#form_name").autocomplete({
            source: function( request, response ) {
                chaine = request.term;
                chaine = changeAccent(chaine);
                let matcher = new RegExp("^" + $.ui.autocomplete.escapeRegex(chaine.trim()), "i");

                response(
                    $.grep(JSON.parse('{{ autocomplete | json_encode | raw }}'), function (item) {
                        return matcher.test(item);
                    })
                );
            },
        });

        function changeVisibility() {
                let ul = $('#ul-filter');
                if(ul.hasClass('ul-filter-hidden')) {
                    ul.removeClass('ul-filter-hidden');
                    ul.addClass('ul-filter-show');
                } else if(ul.hasClass('ul-filter-show')) {
                    ul.removeClass('ul-filter-show');
                    ul.addClass('ul-filter-hidden');
            }
        }


        function resetFields($startMonth, $endMonth) {

            // 'form[sowingMonthStart]'
            // 'form[sowingMonthEnd]'

            let monthStartValues = document.getElementsByName($startMonth);
            for (value of monthStartValues) {
                value.checked= false;
            }

            let monthEndValues = document.getElementsByName($endMonth);
            for (value of monthEndValues) {
                value.checked= false;
            }
        }


    </script>
{% endblock %}
