{% extends 'base.html.twig' %}

{% block title %}
	{{ plant.name }}
{% endblock %}

{% block body %}

	<div class="container d-flex flex-column mt-5 mx-auto text-center plant-identity-card">
		<h1 class="my-3 lead">Fiche d'identité</h1>
		<h2 class="text-uppercase h1">{{ plant.name }}</h2>
		{% if user != null %}
			<div class="row text-center my-3 mx-auto">
				{%  if plant.name in userPlantsName %}
					<button class="add-plant btn btn-danger mb-1" onclick="remove(this, {{ plant.id }})">Retirer</button>
				{% else %}
					<button class="add-plant btn btn-plant-add mb-1" onclick="add(this, {{ plant.id }})">Ajouter</button>
				{% endif %}
				{%  if compatibility == true %}
					<i class="fas fa-thumbs-up">
						Terrain compatible</i>
				{% else %}
					<i class="fas fa-thumbs-down">
						Terrain peu compatible</i>
				{% endif %}
			</div>
		{% endif %}

		<div class="row text-start my-3">
			<div class="col text-center">
				<img id='image-plant' src="{{ absolute_url(asset('img/images_bdd/' ~ plant.image)) }}" class="rounded my-1 mx-auto" alt="{{plant.name}}"/>
			</div>
			<div class="col">
				<div class="row">
					<div class="col">
						<p class="lead">Caractéristiques générales de ce
							{{plant.category}}
							:
							<ul>
								<li>Entretien :
									{{plant.maintenance}}</li>
								<li>Résistance au froid :
									{{plant.coldResistance}}</li>
								<li>Besoin en eau :
									{{plant.waterNeeds}}</li>
								<li>Espacement des plants :
									{{plant.spacing}}
									cm</li>
							</ul>
						</p>
					</div>
					<div class="col">
						<p class="lead">
							Ce
							{{plant.category}}
							se plaît dans les milieux suivants :
							<ul>
								<li>Exposition :
									{%  for sunExposure in plant.sunExposure %}
										{{sunExposure}}
									{% endfor %}
								</li>
								<li>Type de sol :
									{%  for groundType in plant.groundType %}
										{{groundType}}
									{% endfor %}
								</li>
								<li>Ph du sol :
									{%  for groundPh in plant.groundPh %}
										{{groundPh}}
									{% endfor %}
								</li>
								<li>Humidité du sol :
									{%  for groundMoisture in plant.groundMoisture %}
										{{groundMoisture}}
									{% endfor %}
								</li>
							</ul>
						</p>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<p class="lead">Calendrier :<ul>
								{%  if plant.sowingMonthStart != null %}
									{%  if plant.sowingMonthEnd == null %}
										<li class="col">Semis en
											{{months[plant.sowingMonthStart]}}</li>
									{% else %}
										<li class="col">Semis entre
											{{months[plant.sowingMonthStart - 1]}}
											et
											{{months[plant.sowingMonthEnd - 1]}}</li>
									{% endif %}
								{% endif %}
								{%  if plant.transplantingMonthStart != null %}
									{%  if plant.transplantingMonthEnd == null %}
										<li class="col">Plantation/repiquage en
											{{months[plant.transplantingMonthStart]}}</li>
									{% else %}
										<li class="col">Plantation/repiquage entre
											{{months[plant.transplantingMonthStart - 1]}}
											et
											{{months[plant.transplantingMonthEnd - 1]}}</li>
									{% endif %}
								{% endif %}
								{%  if plant.harvestMonthStart != null %}
									{%  if plant.harvestMonthEnd == null %}
										<li class="col">Récolte en
											{{months[plant.harvestMonthStart]}}</li>
									{% else %}
										<li class="col">Récolte entre
											{{months[plant.harvestMonthStart - 1]}}
											et
											{{months[plant.harvestMonthEnd - 1]}}</li>
									{% endif %}
								{% endif %}
							</ul>
						</p>
					</div>
				</div>
			</div>
			{%  if plant.text != null %}
				<div class="row">
					<h3 class="lead">Autres informations :</h3>
					<p>{{plant.text}}</p>
				</div>
			{% endif %}
		</div>
		<script>
			function add(element, id) {
console.log("add");
$.ajax({
url: '{{ url('plant_add') }}',
data: {
plant_id: id
},
dataType: "json",
success: function (data) {
$(element).text("Retirer");
$(element).removeClass("btn-plant-add").addClass("btn-danger");
$(element).attr("onclick", "remove(this, " + id + ")");
}
})
}

function remove(element, id) {
console.log("remove");
$.ajax({
url: '{{ url('plant_remove') }}',
data: {
plant_id: id
},
dataType: "json",
success: function (data) {
$(element).text("Ajouter");
$(element).removeClass("btn-danger").addClass("btn-plant-add");
$(element).attr("onclick", "add(this, " + id + ")");
}
})
}
		</script>

	{% endblock %}
