<!DOCTYPE html>
<html class="vh-100">

    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
        <link rel="stylesheet" href="../front/css/style.css">
        <link rel="stylesheet" href="../front/css/styleProfil.css">
        <link rel="stylesheet" href="../front/css/header-footer.css">
        <link rel="stylesheet" href="../front/css/popup-tache.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css">
        {% block stylesheets %}
        {% endblock %}
        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>

<body>
{% block nav %}
    {{ render(controller('App\\Controller\\HeaderController::index')) }}
{% endblock %}

    <section id="main">
        {% block body %}
        {% endblock %}
    </section>

    {{ include('theme/footer.html.twig') }}

            <!-- JavaScript Bootstrap -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
<script src="/front/js/meteo.js"></script>
        {# <script src="front/js/widget.js"></script> #}
    </body>
</html>



