{% extends 'base.html.twig' %}
        {% block stylesheets %}
            {{ parent() }}
            <link rel="stylesheet" href="../front/css/sidebar.css">
            <link rel="stylesheet" href="../front/css/popup-tache.css">
        {% endblock %}


{% block body %}
    <div class="mb-5">{{ include('theme/user-sidebar.html.twig') }}</div>
{#<script src="front/js/widget.js"></script>#}
{% endblock %}

    {% block javascripts %}
        {#{{ encore_entry_script_tags('app') }}#}
    {% endblock %}

    

