{% extends 'baseUser.html.twig' %}

{% block title %}
    {{title}}
{% endblock %}


{% block body %}
<section class="container-fluid my-5 ps-5">
    <div class="row ">
        <div class="col-12">
            <h1 class="">Liste des Fruits & légumes à récolter et/ou consomer cette Automne </h1>
        <div class="col-12">
            <h3>Octobre</h3>
            <img class="col-5 text-center" src="/img/calendrier_mois/octobre.jpg" alt="Calendrier du mois de Automne">
        </div>
            <h3>Novembre</h3>
            <img class="col-5 mx-auto" src="/img/calendrier_mois/novembre.jpg" alt="Calendrier du mois de Automne">
        </div>
            <h3>Décembre</h3>
            <img class="col-5 " src="/img/calendrier_mois/decembre.jpg" alt="Calendrier du mois de Automne">
        </div>

            <p>ce boutton ->
                <button class="btn btn-success">
                    <a href="{{path('calendrier')}}" class="text-light">retour</a>
                </button>
                <- permettra de faire un retour rapide a coté d'un article
            </p>
        </div>
    </div>
</section>


{% endblock %}

