{% extends 'baseUser.html.twig' %}

{% block title %}
    {{title}}
{% endblock %}

{% block body %}
<section class="container text-center mx-auto">
    <div class="row mx-auto">
        <div class="col-12">

        <div class="col-12">
            <h1 class="">Liste des Fruits & légumes à récolter et/ou consomer cette Été </h1>
        <div class="col-12">
            <h3>Juillet</h3>
            <img src="/img/calendrier_mois/juillet.jpg" alt="Calendrier du mois de Été">
        </div>
            <h3>Août</h3>
            <img src="/img/calendrier_mois/aout.jpg" alt="Calendrier du mois de Été">
        </div>
            <h3>Septembre</h3>
            <img src="/img/calendrier_mois/septembre.jpg" alt="Calendrier du mois de Été">
        </div>

            <p>ce boutton ->
                <button class="btn btn-success">
                    <a href="{{path('calendrier')}}" class="text-light">retour</a>
                </button>
                <- permettra de faire un retour rapide a coté d'un article
            </p>
        </div>
    </div>
</section>


{% endblock %}

