{% extends 'baseUser.html.twig' %}

{% block title %}
    {{title}}
{% endblock %}

{% block body %}
<section class="container text-center mx-auto">
    <div class="row mx-auto">
        <div class="col-12">

        <div class="col-12">
            <h1 class="">Liste des Fruits & légumes à récolter et/ou consomer cette Hiver </h1>
        <div class="col-12">
            <h3>Janvier</h3>
            <img src="/img/calendrier_mois/janvier.jpg" alt="Calendrier du mois de Hiver">
        </div>
            <h3>Fevrier</h3>
            <img src="/img/calendrier_mois/fevrier.jpg" alt="Calendrier du mois de Hiver">
        </div>
            <h3>Mars</h3>
            <img src="/img/calendrier_mois/mars.jpg" alt="Calendrier du mois de Hiver">
        </div>

            <p>ce boutton ->
                <button class="btn btn-success">
                    <a href="{{path('calendrier')}}" class="text-light">retour</a>
                </button>
                <- permettra de faire un retour rapide a coté d'un article
            </p>
        </div>
    </div>
</section>


{% endblock %}

