{% extends 'baseUser.html.twig' %}

{% block title %}
    {{title}}
{% endblock %}

{% block body %}


    <section class="container text-center mx-auto">
        <div class="row mx-auto">
            <div class="col-12">

        <div class="col-12">
            <h1 class="">Liste des Fruits & légumes à récolter et/ou consomer ce Printemps </h1>
        <div class="col-12">
            <h3>Avril</h3>
            <img src="/img/calendrier_mois/avril.jpg" alt="Calendrier du mois de Printemps">
        </div>
            <h3>Mai</h3>
            <img src="/img/calendrier_mois/mai.jpg" alt="Calendrier du mois de Printemps">
        </div>
            <h3>Juin</h3>
            <img src="/img/calendrier_mois/juin.jpg" alt="Calendrier du mois de Printemps">
        </div>

                <p>ce boutton ->
                    <button class="btn btn-success">
                    <a href="{{path('calendrier')}}" class="text-light">retour</a>
                    </button>
                    <- permettra de faire un retour rapide a coté d'un article 
                </p>
            </div>
        </div>
    </section>


{% endblock %}

