<section class="footer">
    <footer>

        <div class="footerTop">
            <h3>Pouss'Vert</h3>
            <ul class="footerLink">
                <li>Nous contacter</li>
                <li>Mentions légales</li>
                <li>Gérer le consentement</li>
            </ul>
            <ul class="socialLink">
                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                <li><a href="#"><i class="fab fa-pinterest"></i></a></li>
            </ul>
        </div>

        <div class="footerBot">
            <p>copyright &copy;2020 Pouss'Vert. </p>
            <div>Icônes conçues par <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/fr/" title="Flaticon">www.flaticon.com</a></div>
        </div>

    </footer>
</section>