<header>
    <input type="checkbox" id="checkNav">
    <nav>
        <div class="icon"><a href="{{path('home')}}"><img src="{{absolute_url(asset('img/logo/logowhite.png'))}}"></a></div>
        {{ form_start(formHeader, {'attr': {'class': 'search'}}) }}
        {{ form_widget(formHeader.searchTerm, {'attr': {'id': 'searchBar'}}) }}
        {{ form_widget(formHeader.submit, { 'attr' : {'class': 'fa fa-search'}}) }}
        {{ form_end(formHeader) }}

        <ul>
            <li class="bg-light rounded-pill">
                <a href="{{path(('meteo'))}}">
                    <span class="text-success" id="villeWidget"></span>
                    <span class="text-success" id="temperatureWidget"></span>
                    <i class="wi wi-day-rain p-2"></i>
                </a>
            </li>
            <li>
            {% if (is_granted('ROLE_USER')) or (is_granted('ROLE_ADMIN')) %}
            <a href="{{path('dashboard')}}">Mon compte</a>
            {% else %}
            <a href="{{path('register')}}">Commencer</a>
            {% endif %}
            </li>

            <li><a href="{{path('calendrier')}}">Calendrier</a></li>
            <li><a href="{{path('plant')}}">Fruits/Légumes</a></li>
            <li><a href="{{path('tuto')}}">Tuto</a></li>
            <li>
                    {% if (is_granted('ROLE_USER')) or (is_granted('ROLE_ADMIN')) %}
                    <a href="{{path('logout')}}"> deconnexion </a>
                    {% else %}
                    <a href="{{path('login')}}"> connexion </a>
                    {% endif %}
            </li>
        </ul>
        <label for="checkNav" class="bar">
            <span class="fa fa-bars" id="burger"></span>
            <span class="fa fa-times" id="crossBurger"></span>
        </label>
    </nav>
</header>
{% block javascripts %}
    <script>
        function changeAccent(chaine){
            let firstLetter = chaine.charAt(0);
            if(firstLetter == 'e'){
                chaine = chaine.replace('e', 'é');
            }
            return chaine;
        };

        $("#form_searchTerm").autocomplete({
            source: function( request, response ) {
                chaine = request.term;
                chaine = changeAccent(chaine);
                let matcher = new RegExp("^" + $.ui.autocomplete.escapeRegex(chaine.trim()), "i");

                response(
                    $.grep(JSON.parse('{{ autocompleteHeader | json_encode | raw }}'), function (item) {
                        return matcher.test(item);
                    })
                );
            },
        }
        
        );
    </script>
{% endblock %}

