<nav class="navbar navbar-expand-lg navbar-light bg-light user-navbar">
	<div class="container-fluid">
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<i class="fas fa-ellipsis-v"></i>
		</button>
		<h1 class="px-2">Bonjour
			{{app.user.pseudo}}</h1>
		<div class="collapse navbar-collapse justify-content-end" id="navbarNav">
			<ul class="navbar-nav buttons-wrapper">
				<li class="nav-item">
					<a class="nav-link" href="{{path('dashboard')}}">
						<i class="fas fa-house-user"></i>
						Accueil</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{path('garden')}}">
						<i class="fas fa-carrot"></i>
						Potager</a>
				</li>
				{% if tasksButtonDisplay == true %}
				<li class="nav-item">
					<a class="nav-link" href="{{path('tasks')}}">
						<i class="fas fa-calendar-alt"></i>
						Tâches</a>
				</li>
				{% endif %}
				<li class="nav-item">
					<a class="nav-link" href="{{path('meteo')}}">
						<i class="fas fa-cloud-sun-rain"></i>
						Météo</a>
				</li>
			</ul>
			<div class="dropdown">
				<a href="#" class="d-flex align-items-center text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
					{% if app.user.avatar != null %}
						<img src="{{absolute_url(asset('uploads/avatars/' ~ app.user.avatar ~ ''))}}" alt="{{app.user.avatar}}" alt="avatar" class="rounded-circle me-2 avatar">
					{% else %}
						<img src="{{absolute_url(asset('img/Profil/profil.jpg'))}}" alt="avatar" alt="avatar" class="rounded-circle me-2 avatar">
					{% endif %}
				</a>
				<ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
					<li>
						<a class="dropdown-item" href="{{path('profil')}}">
							<i class="fas fa-user-edit"></i>
							Profil</a>
					</li>
					<li><hr class="dropdown-divider"></li>
					<li>
						<a class="dropdown-item" href="{{path('logout')}}">
							<i class="fas fa-sign-out-alt"></i>
							Déconnexion</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</nav>
