{% extends 'base.html.twig' %}

{% block title %}{{title}}{% endblock %}

{% block body %}

<section class="container-fluid my-5 p-5">
    <div class="row">

        <div class="col-6 text-center">
            <img class="rounded shadow" src="img/calendrier_mois/legumeAutomne.jpg" alt=""></div>
            <div class="col-6">
                <h3 class="mt-3">
                    Calendrier des Légumes d'automne
                </h3>

                <p class="p-5">
                    L'automne, la première feuille est tombée il y a déjà quelque semaine, mais quel que soit
                    l'endroit ou on regarde il y a des feuilles à terre, cette douce période qui annonce l'arriver
                    du chocolat chaud et des raclettes, mais pour notre potager, c'est le moment de changer de couleur,
                    viens voir par ici ce que tu peux cultiver et mérité ton chocolat chaud.
                </p>

                <buton class="btn btn-success rounded-pill p-2">
                    <a class="text-light" href="{{path('automne')}}">
                        voir la liste</a>
                </buton>

            </div>
        </div>
    </section>

<section class="container-fluid my-5 p-5">
    <div class="row">

        <div class="col-6 ">
            <h3 class="mt-3">Calendrier des Légumes d'hiver
            </h3>
            <p class="p-5">
                L'hiver, le moment le plu redouter par le cultivateur de potager que nous sommes, à ton bien mis la paille pour
                protéger les cultures ? Le festival de la raclette elle par contre a bien commencé et a était agrémenter de
                nos légumes et fruits de saison, comment ? Tu ne sais pas encore quelle fruits et légumes sont de saisonne ?
                Rien de plu facile, on te dit tout par ici.
            </p>
                <buton class="btn btn-success rounded-pill p-2">
                <a class="text-light" href="{{path('hiver')}}">
                    voir la liste</a>
            </buton>
        </div>
        <div class="col-6 text-center ">
            <img class="rounded shadow" src="img/calendrier_mois/legumeHiver.jpg" alt="">
        </div>
    </div>
</section>

<section class="container-fluid my-5 p-5">
    <div class="row">

        <div class="col-6 text-center">
            <img class="rounded shadow" src="img/calendrier_mois/legumePrintemps.jpg" alt=""></div>
            <div class="col-6">
                <h3 class="mt-3">Calendrier des Légumes de printemps
                </h3>

                <p class="p-5">
                    Le printemps, hummmm cette douce odeur de fleur du cerisier d'en face, cette période ou l'on troque notre raclette
                    pour une bonne salade césar, mais c'est aussi le moment de ce mettre a jour sur les légumes de saison, c'est aussi
                    le moment physique pour la remise en forme de notre potager.
                </p>
                <buton class="btn btn-success rounded-pill p-2">
                    <a class="text-light" href="{{path('printemps')}}">
                        voir la liste</a>
                </buton>

            </div>
        </div>
    </section>

<section class="container-fluid my-5 p-5">
    <div class="row">

        <div class="col-6">
            <h3 class="mt-3">Calendrier des Légumes d'été
            </h3>
            <p class="p-5">
                    L'été, tranquille à l'ombre de notre pommier a siroter notre citronnade et admirent notre potager, c'est aussi le moment de
                    changer de légumes à cultiver, entre les citrons pour notre citronnade et le stock de patates pour les raclettes 
                    de cet hiver on a du travail.
            </p>
            <buton class="btn btn-success rounded-pill p-2">
                <a class="text-light" href="{{path('ete')}}">
                    voir la liste</a>
            </buton>
        </div>
        <div class="col-6 text-center">
<img class="rounded shadow" src="img/calendrier_mois/legumeEte.jpg" alt=""></div>

        </div>
    </section>






<div id="myCarousel" class="col-3 mx-auto my-5 carousel slide bg-dark" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
<img class="d-block mx-auto" src="/carrousel/calendrierGeneral.jpg" alt="Leopard"></div>


            <div class="carousel-item">
<img class="d-block mx-auto" src="/carrousel/calendrierGeneral.jpg" alt="Cat"></div>


                <div class="carousel-item">
<img class="d-block mx-auto" src="carrousel/calendrierGeneral.jpg" alt="Lion"></div>

                </div>
                <!-- Controls -->
                <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>




                            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
                            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
                            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>



{% endblock %}
